/bin/
/banned-ips.json
/banned-players.json
/eula.txt
/ops.json
/options.txt
/server.properties
/servers.dat
/usercache.json
/usernamecache.json
/whitelist.json
/world-20160329-220841.zip
/config/
/crash-reports/
/logs/
/saves/
/screenshots/
/world/
